/*Home*/
.background-home {
    background-image: url('../Images/mustang.png');
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
}
.content-home {
    max-width: 1024px;   
    margin: 0 auto;  
    min-height: 900px;
}
.background-home .news {
    border: 2px solid white;
    border-radius: 6px;
    width: 420px;
    line-height: 90px;
    position: absolute; 
    top: 400px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
.background-home .news span { 
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/*Services*/
.background-services {
    background-image: url('../Images/mustang_back.jpg');
    background-repeat: no-repeat;
    background-position: right 0% bottom 72%;
    background-size: cover;
    background-color: #ccc9c9;
    background-blend-mode: screen;
    width: 100%;
}
.content-services {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/*MUSTANG GT*/
.background-mustang {
    background-color: #00B0F0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content-mustang {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}
.mustang-lines {
    width: 320px;
    height: 100%;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
}
.mustang-lines .mustang-line {
    position: absolute;
    width: 150px;
    height: 100%;
    background-color: black;
}
.mustang-lines .mustang-line:nth-child(1) {
    left: 0;
}
.mustang-lines .mustang-line:nth-child(2) {
    right: 0;
}
.content-mustang .mustang-item {
    width: 100%;
    height: 300px;
    margin-bottom: 35px;
    text-align: center;
}
.content-mustang .mustang-item.text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color:white;
}
.content-mustang .mustang-item.text .centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content-mustang .mustang-item.mustang-back-light {
    background-image: url('../Images/mustang_break_light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-mustang .mustang-item.mustang-speedometer {
    background-image: url('../Images/mustang_speedemeter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-mustang .mustang-item.mustang-youtube iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/*ORDER*/
.background-order {
    background-color: #00B0F0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content-order {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/*RESERVATION*/
.background-reservation {
    background-color: yellow;
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.content-reservation {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

@media (max-width: 991px) {
    .background-services {
        background-position: center;
    }
}

@media (max-width: 767px) {
    .content-cars{
        min-height: 1650px;
    }
}