/*Home*/
.background-home {
    background-image: url('../Images/mustang.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 100%;
}
.content-home {
    max-width: 1024px;   
    margin: 0 auto;  
    min-height: 780px;
}
.background-home .news {
    border: 2px solid white;
    border-radius: 6px;
    background: rgba(0,0,0,0.6);
    width: 420px;
    line-height: 90px;
    position: absolute; 
    top: 400px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
.background-home .news span { 
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/*Services*/
.background-services {
    background-image: url('../Images/mustang_back.jpg');
    background-repeat: no-repeat;
    background-position: right 0% bottom 72%;
    background-size: cover;
    background-color: #ccc9c9;
    background-blend-mode: screen;
    width: 100%;
}
.content-services {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/*MUSTANG GT*/
.background-mustang {
    background-color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}
.content-mustang {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}
.content-mustang .mustang-item {
    width: 100%;
    height: 300px;
    text-align: center;
}
.content-mustang .mustang-item.text {
    position: relative;
    background-color:white;
}
.content-mustang .mustang-item.text .centered {
    position: absolute;
    top: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    transform: translateY(-50%);
}
.content-mustang .mustang-item.mustang-back-light {
    background-image: url('../Images/mustang_break_light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-mustang .mustang-item.mustang-speedometer {
    background-image: url('../Images/mustang_speedemeter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-mustang .mustang-item.mustang-youtube iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/*ORDER*/
.background-order {
    background: #C5A558; /* Old browsers */
    background: -moz-linear-gradient(top, #C5A558 0%, #674D1C 40%, #241805 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #C5A558 0%,#674D1C 40%,#241805 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #C5A558 0%,#674D1C 40%,#241805 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5A558', endColorstr='#241805',GradientType=0 ); /* IE6-9 */
    background-color: #856F32;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content-order {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    max-width: 1600px;
}

/*RESERVATION*/
.background-reservation {
    background: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.content-reservation {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    margin: 0 auto;
    max-width: 1600px;
}

/*CONTACT*/
.background-contact {
    background-image: url('../Images/contact_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.content-contact{
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/*FOOTER*/
.background-footer {
    background: black;
    position: relative;
    overflow: hidden;
}
.content-footer{
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #C6A759;
    margin: 0 auto;
    max-width: 1600px;
}

@media (max-width: 991px) {
    .background-services {
        background-position: center;
    }
    .content-reservation .reservation-parts {
        height: auto;
    }
    .content-reservation .left-content {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: auto;
    }
    .content-reservation .center-content {
        height: auto;
        padding-top: 10px;
    }
    .content-reservation .right-content {
        padding-top: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        height: auto;
    }
    .content-reservation .reservation-button {
        padding-bottom: 20px;
    }
    .datepicker-inline .datepicker-days thead tr:nth-child(2) {
        height: 45px;
    }
    .content-cars{
        min-height: 1650px;
    }
}

@media (max-width: 500px) {
    .background-home .news {
        width: 98%;
    }
}
