@font-face {
    font-family: myFont;
    src: url("../Font/Exo-LightItalic.ttf");
}
@font-face {
    font-family: myExtraLightFont;
    src: url("../Font/Exo-ExtraLightItalic.ttf");
}

body {
    background: black;
    height: 100%;
    width: 100%;
    font-family: myFont;
    background-position: center;
}

.mainMenu {
    height: 100%;
    max-width: 1024px;   
    margin: 0;
    border: none;
    background: none;
}

.menu-background {
    width: 100%;
    min-height: 140px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

.menu {
    font-family: myExtraLightFont;
    max-width: 1024px;   
    margin: 0 auto;
    height: 100%;
    color: white;
    text-align: center;
}
.menu .logo {
    background-image: url('../Images/logo.png');
    background-repeat: no-repeat;
    background-position: right 50% bottom 150%;
    background-size: 56% 122px;
    width: 100%;
    height: 90px;
    max-width: 1024px;
}
.menu-buttons li a {
    cursor: pointer;
}

.buttons {
    position:relative;
    overflow: hidden;
    width: 100%;
}

.buttons ul {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.buttons ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #C6A759;
    font-size: 18px;
}

.hr {
  width: 100%;
  height: 3px;
  background-color: #C6A759;
}
.no-padding {
    padding: 0;
}
.all-bold {
    font-weight: bold;
}
.borderBlack {
    border: 2px solid black;
}
.disabled {
    color: grey;
    border-color: grey;
}
/*text*/
.big {
    font-size: 22px;
}

.bold {
    font-weight: bold;
}
.bottom-padding {
    display: block;
    padding-bottom: 15px!important;
}
.big-bottom-padding {
    display: block;
    padding-bottom: 30px!important;
}
.text-center {
    text-align: center;;
}
/*Button*/
.my-button {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    margin: 0 auto;
    line-height: 35px;
    width: 100%;
    max-width: 236px;
    border-radius: 3px;
    border-bottom: 2px solid black;
    color: white;
    font-weight: bold;
    background: #BC9E4E; /* Old browsers */
    background: -moz-linear-gradient(-75deg, #BC9E4E 22%, #D2C193 30%, #8F7636 33%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-75deg, #BC9E4E 22%,#D2C193 30%,#8F7636 33%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(165deg, #BC9E4E 22%, #D2C193 30%, #8F7636 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC9E4E', endColorstr='#8F7636',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.error {
    border: 2px solid red!important;
}

@media (max-width: 767px) {
    .buttons ul {
        display: block;
    }
    .menu .logo { 
        background-size: 480px;
        background-position: right 53% bottom 150%
    }
}
@media (max-width: 500px) {
}