@font-face {
    font-family: myFont;
    src: url("../Font/Exo2-Light.ttf");
}

body {
    background: black;
    height: 100%;
    width: 100%;
    font-family: myFont;
    background-position: center;
}

.mainMenu {
    height: 100%;
    max-width: 1024px;   
    margin: 0;
    border: none;
    background: none;
}

.menu-background {
    width: 100%;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

.menu {
    max-width: 1024px;   
    margin: 0 auto;
    height: 100%;
    color: white;
    text-align: center;
}
.menu .logo {
    background-image: url('../Images/logo.png');
    background-repeat: no-repeat;
    background-position: right 50% bottom 150%;
    background-size: 70% 170px;
    width: 100%;
    height: 125px;
    max-width: 1024px;
}
.menu-buttons li a {
    cursor: pointer;
}

.buttons {
    position:relative;
    overflow: hidden;
    width: 100%;
}

.buttons ul {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

.buttons ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #C6A759;
    font-size: 25px;
}

.hr {
  width: 100%;
  height: 3px;
  background-color: #C6A759;
}
.no-padding {
    padding: 0;
}
.all-bold {
    font-weight: bold;
}
/*text*/
.big {
    font-size: 22px;
}

.bold {
    font-weight: bold;
}
.bottom-padding {
    display: block;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .buttons ul {
        display: block;
    }
    .menu .logo { 
        background-size: 96% 160px;
    }
}