#order-Carousel {
    background: none;
}

#order-Carousel .item .item-content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    height: 520px;
}
#order-Carousel .slide-button {
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: #7E7F7F;
    opacity: 0.7;
    width: 70px;
    text-align: center;
    position: absolute;
}

#order-Carousel .slide-button:hover span {
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#order-Carousel .slide-button span {
    font-size: 30px;
    color: white;
    line-height: 70px;
    top: 0;
}


#order-Carousel .slide-button.right {
    right: 0%;
}
#order-Carousel .slide-button.left {
    left: 0;
}

#order-Carousel .item .item-content .content {
    width: 100%;
    overflow: hidden;
}

#order-Carousel .item .item-content .content .main-text {
    text-align: center;
    padding-bottom: 10px;
    
}
#order-Carousel .item .item-content .content .slevomat {
    line-height: 30px;
    padding-bottom: 15px;
}

#order-Carousel .item .item-content .content .slevomat .slevomat-text { 
    display: inline-block;
}

#order-Carousel .item .item-content .content .slevomat .slevomat-button-wrapper {
    display: inline-block;
    position: relative;
    left: 10px;
}

#order-Carousel .item .item-content .content .order-overview {
    padding-top: 20px;
}

#order-Carousel .item .item-content .content .slevomat .slevomat-button{
    background: #463007;
    color: #C5A558;
    font-weight: bold;
    border-bottom: 3px solid black;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    width: 110px;
    cursor: pointer;
}

#order-Carousel .item .item-content .content .form input[type="text"] {
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
}
#order-Carousel .item .item-content .content .form select {
    border: 2px solid black;
    color: black;
    border-radius: 3px;
    width: 100%;    
}
#order-Carousel .item .item-content .content .form .form-item {
    margin-top: 5px;
}
#order-Carousel .item .item-content .normalElement {
    display: block;
}
#order-Carousel .item .item-content .enjoyElement {
    display: none;
}
#order-Carousel .item .item-content .radio-buttons {
    margin-bottom: 20px;
}
#order-Carousel .item .item-content .my-button { 
    margin-top: 25px;
}
#order-Carousel .item .item-content .includingFluel { 
    display: none;
}



@media (max-width: 991px) {
    #order-Carousel .item .item-content {
        height: 595px;
    }
}
@media (max-width: 767px) {
    #order-Carousel .item .item-content {
        height: 670px;
    }
    #order-Carousel .slide-button {
        width: 50px;
        height: 100%;
    }
    #order-Carousel .slide-button span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }  
    #order-Carousel {
        padding-left: 0;
        padding-right: 0;
    }
}