#service-Carousel {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: none;
    font-size: 15px;
}
#service-Carousel .item li {
    margin-bottom: 8px;
}
#service-Carousel ul{
    padding-left: 18px;
}
#service-Carousel ol {
    padding-left: 15px;
}
#service-Carousel .carousel-inner {
    height: 500px;
}
#service-Carousel .slide-button {
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: #7E7F7F;
    opacity: 0.7;
    width: 70px;
    text-align: center;
    position: absolute;
}
#service-Carousel .slide-button:hover span {
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#service-Carousel .slide-button span {
    font-size: 30px;
    color: white;
    line-height: 70px;
    top: 0;
}


#service-Carousel .slide-button.right {
    right: 0%;
}
#service-Carousel .slide-button.left {
    left: 0;
}

#service-Carousel .item {
    color: black;
    height: inherit;
    background: none;
    border-radius: 0;
    margin: 0;
}

#service-Carousel .item .item-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#service-Carousel .item .contract {
    margin-top: 30px;
}

#service-Carousel .item .element-centered {
    margin: 0 auto;
}

@media (max-width: 1090px) {
    #service-Carousel .carousel-inner {
        height: 600px;
    }
}
@media (max-width: 991px) {
    #service-Carousel {
        padding-top: 0;
        padding-bottom: 0;
    }
    #service-Carousel .carousel-inner {
        height: 800px;
    }
}
@media (max-width: 767px) {
    #service-Carousel {
        padding-left: 50px;
        padding-right: 50px;
    }
    #service-Carousel .carousel-inner {
        height: 820px;
    }
    #service-Carousel .slide-button {
        width: 50px;
        height: 100%;
    }
    #service-Carousel .slide-button span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }    
}
@media (max-width: 650px) {
    #service-Carousel .carousel-inner {
        height: 1040px;
    }
}
@media (max-width: 500px) {
    #service-Carousel .carousel-inner {
        height: 1200px;
    }
}


